<div class="login login-v2 fw-bold">
	<div class="login-cover">
		<div class="login-cover-img" [ngStyle]="{ 'background-image': 'url(' + this.bg + ')' }"></div>
		<div class="login-cover-bg"></div>
	</div>
	<div class="login-container">
    <div class="login-header">
      <div class="brand">
				<div class="d-flex align-items-center">
					<img src="../../../assets/img/logo/apple-icon.png" alt="Zoom codeguard" height="28" class="company-login-logo">
					<span class="company-title"><b>Zoom</b> codeguard</span>
				</div>
				<small class="login-font">Empower your security, updating your password safely.</small>
			</div>
			<div class="icon">
				<i class="fa fa-lock"></i>
			</div>
		</div>
    
		<div class="login-content">
      <form #f="ngForm">
        <div class="input-group mb-20px">
          <div class="form-floating">
            <input [type]="showPassword.newPassword ? 'text' : 'password'" (keyup)="verifyNewAndConfirmPass('password' ,$event.target.value)" autocomplete="off" type="password" class="form-control fs-13px h-45px border-0" placeholder="Password" id="password" [ngModel]="password" [ngModelOptions]="{ standalone: true }" (ngModelChange)="checkpw($event)"  />
            <label for="password" class="d-flex align-items-center text-gray-600 fs-13px">New Password</label>
            <div *ngIf="isInvalidPassword" class="custom-tooltip">
							Password must be at least 6 characters long.
						</div>
          </div>

          <span class="input-group-text cursor-pointer" (click)="togglePasswordVisibility('newPassword')">
            <i class="fa" [ngClass]="{ 'fa-eye': showPassword.newPassword, 'fa-eye-slash': !showPassword.newPassword }"></i>
          </span>
        </div>

        <div class="input-group"> 
          <div class="form-floating">
            <input [type]="showPassword.confirmPassword ? 'text' : 'password'" (keyup)="verifyNewAndConfirmPass('confirmPassword' ,$event.target.value)"  autocomplete="off" type="password" class="form-control fs-13px h-45px border-0" placeholder="ConfirmPassword" id="confirmPassword" [ngModel]="confirmPassword" [ngModelOptions]="{ standalone: true }" (ngModelChange)="checkConfirmpw($event)"/>
            <label for="ConfirmPassword" class="d-flex align-items-center text-gray-600 fs-13px">Confirm Password</label>
            <div *ngIf="isInvalidConfirmPassword" class="custom-tooltip">
							Password must be at least 6 characters long.
						</div>
            <div *ngIf="!isPasswordMatch" class="custom-tooltip">
							Password and confirm password should match.
						</div>
          </div>

          <span class="input-group-text cursor-pointer" (click)="togglePasswordVisibility('confirmPassword')">
            <i class="fa" [ngClass]="{ 'fa-eye': showPassword.confirmPassword, 'fa-eye-slash': !showPassword.confirmPassword }"></i>
          </span>
        </div>
        

        <div class="form-floating">
					<div #passwordMatchErr id="login-error">Passwords do not match</div>
				</div>
    
        <div class="my-20px">
          <button type="submit" id="signup" class="btn btn-success d-block w-100 h-45px btn-lg" [disabled]="isDisabled" (click)="changePassword()" >
            <div id="block_container">
              <div id="submitText">{{confirmButtonText}}</div>
              <div *ngIf="showLoader" class="loader loader--style3" title="2">
                <img src="../../../../assets/img/svg/loader.svg">
              </div>
            </div>
          </button>
        </div>
    
        <div class="d-flex justify-content-center text-gray-500 mt-4">
          Click
          <a routerLink="/" class="text-white click-here">here,</a> To return to the login page
        </div>
      </form>
    </div>
	</div>
</div>