<!-- BEGIN breadcrumb -->
<ol class="breadcrumb float-xl-end">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item active">Dashboard</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Dashboard 
	<small *ngIf="data && data.status == 'active'" class="plan-active">Welcome back !!!</small>
	<small *ngIf="data && data.status == 'Inactive'" class="plan-expired">( Your plan has expired. Please recharge your account to continue enjoying the service. )</small>
</h1>
<!-- END page-header -->

<!-- BEGIN row -->
<div class="row">
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-green" id="step1">
			<div class="stats-icon"><i class="fab fa-git-square"></i></div>
			<div class="stats-info">
				<h4>TOTAL GITHUB ACCOUNT</h4>
				<p *ngIf="data" class="dashboard-card-p">{{data.totalGitHubAccount}}</p>	
				<p *ngIf="!data" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="totalGithubAccount(data.totalGitHubAccount)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-info" id="step2">
			<div class="stats-icon"><i class="fas fa-folder"></i></div>
			<div class="stats-info">
				<h4>TOTAL REPOSITORY</h4>
				<p *ngIf="data" class="dashboard-card-p">{{data.totalRepository}}</p>	
				<p *ngIf="!data" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="totalRepository(data.totalRepository)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-orange" id="step3">
			<div class="stats-icon"><i class="fab fa-git-alt"></i></div>
			<div class="stats-info">
				<h4>TOTAL COMMITS</h4>
				<p *ngIf="data" class="dashboard-card-p">{{data.totalCommits}}</p>	
				<p *ngIf="!data" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="totalCommits(data.totalCommits)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-red" id="step4">
			<div class="stats-icon"><i class="fas fa-check-circle"></i></div>
			<div class="stats-info">
				<h4>TOTAL APPROVED PR</h4>
				<p *ngIf="data" class="dashboard-card-p">{{data.totalApprovedPR}}</p>	
				<p *ngIf="!data" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="totalApprovedPR(data.totalApprovedPR)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
</div>
<!-- END row -->
