<app-notification></app-notification>
<!-- BEGIN breadcrumb -->
<ol class="breadcrumb float-xl-end">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item active">Dashboard</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Dashboard 
	<small *ngIf="data && data.status == 'active'" class="plan-active">Welcome back !!!</small>
	<small *ngIf="data && data.status == 'Inactive'" class="plan-expired">( Your plan has expired. Please recharge your account to continue enjoying the service. )</small>
</h1>
<!-- END page-header -->

<!-- BEGIN row -->
<div class="row" id="step2">
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-green">
			<div class="stats-icon"><i class="fa fa-desktop"></i></div>
			<div class="stats-info">
				<h4>CURRENT PLAN</h4>
				<p *ngIf="data" class="dashboard-card-p">{{data.subscriptionName}}</p>	
				<p *ngIf="!data" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="subscriptionDetails(data.subscriptionName)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-info">
			<div class="stats-icon"><i class="fa fa-calendar-check"></i></div>
			<div class="stats-info">
				<h4>SUBSCIPTION START DATE</h4>
				<p *ngIf="subscriptionStartDate" class="dashboard-card-p">{{subscriptionStartDate}}</p>	
				<p *ngIf="!subscriptionStartDate" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="subscriptionStartDate_Details(data.subscriptionName, subscriptionStartDate)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-orange">
			<div class="stats-icon"><i class="fa fa-calendar-xmark"></i></div>
			<div class="stats-info">
				<h4>SUBSCIPTION END DATE</h4>
				<p *ngIf="subscriptionEndDate" class="dashboard-card-p">{{subscriptionEndDate}}</p>	
				<p *ngIf="!subscriptionEndDate" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="subscriptionEndDate_Details(data.subscriptionName, subscriptionEndDate)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-red">
			<div class="stats-icon"><i class="fas fa-wallet"></i></div>
			<div class="stats-info">
				<h4>BALANCE</h4>
				<p *ngIf="data" class="dashboard-card-p">{{data.totalTime}}</p>	
				<p *ngIf="!data" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="subscription_Balance(data.subscriptionName, data.totalTime)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
</div>
<!-- END row -->

<!-- BEGIN row -->
<div class="row">
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-blue" id="step4">
			<div class="stats-icon"><i class="fa fa-upload"></i></div>
			<div class="stats-info">
				<h4>TOTAL UPLOAD</h4>
				<p *ngIf="data" class="dashboard-card-p">{{data.totalUploads}}</p>	
				<p *ngIf="!data" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a (click)="totalUploads(data.totalUploads)">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-indigo">
			<div class="stats-icon"><i class="fa fa-user"></i></div>
			<div class="stats-info">
				<h4>QUICK REQUEST</h4>
				<p *ngIf="subscriptionEndDate" class="dashboard-card-p">{{data.totalQuick_Request}}</p>	
				<p *ngIf="!subscriptionEndDate" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a [routerLink]='["/task/quick-request/list"]'>View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-success">
			<div class="stats-icon"><i class="fa fa-users"></i></div>
			<div class="stats-info">
				<h4>PROJECT REQUEST</h4>
				<p *ngIf="subscriptionStartDate" class="dashboard-card-p">{{data.totalProject_Request}}</p>	
				<p *ngIf="!subscriptionStartDate" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a [routerLink]='["/task/project-request/list"]'>View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-6">
		<div class="widget widget-stats bg-lime" id="step6">
			<div class="stats-icon"><i class="fa fa-check-circle"></i></div>
			<div class="stats-info">
				<h4>COMPLETED WORK</h4>
				<p *ngIf="data" class="dashboard-card-p">{{data.totalCompleted_Work}}</p>	
				<p *ngIf="!data" class="dashboard-card-p">-</p>	
			</div>
			<div class="stats-link">
				<a [routerLink]='["/completed/work"]'>View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
			</div>
		</div>
	</div>
	<!-- END col-3 -->
</div>
<!-- END row -->

<!-- BEGIN row -->

<!-- END row -->
