.tour-guide-btn {
   height: 25px;
}

.dropdown-menu.media-list {
   width: 400px !important;
}

.dropdown-menu.media-list.dropdown-menu-end {
   max-height: 28rem;
   overflow-y: auto;
}

.company-title {
   margin-left: 5%;
}

.text-theam-color {
   color: var(--app-theme);
}

.btn-background {
   background: none;
}

.nav-bar-height {
   height: 50px;
}