<!-- BEGIN profile -->
<div class="profile">
	<div class="profile-header">
		<!-- BEGIN profile-header-cover -->
		<div class="profile-header-cover"></div>
		<!-- END profile-header-cover -->
		<!-- BEGIN profile-header-content -->
		<div class="profile-header-content">
			<!-- BEGIN profile-header-img -->
			<div class="profile-header-img">
				<img src="{{userProfilePictureURL}}" alt="" />
			</div>
			<!-- END profile-header-img -->
			<!-- BEGIN profile-header-info -->
			<div class="profile-header-info">
				<h4 class="mt-0 mb-1">{{userInfo['custom:name']}}
                    <i *ngIf="userInfo.email_verified" class="fa fa-check-circle text-blue ms-1 verified-user">
                    </i>
                </h4>
				<p class="mb-2 text-first-letter-uppercase">{{userInfo['custom:role']}}</p>
				<a *ngIf="userInfo.email_verified" href="javascript:;" class="btn btn-xs btn-yellow disabled">Verified</a>
			</div>
			<!-- END profile-header-info -->
		</div>
		<!-- END profile-header-content -->
		<!-- BEGIN profile-header-tab -->
		<ul class="profile-header-tab nav nav-tabs">
			<li (click)="changeTab('about')" class="nav-item"><a href="#profile-about" class="nav-link active" data-bs-toggle="tab">ABOUT</a></li>
			<li *ngIf="this.userInfo['custom:source'] === 'cognito'" (click)="changeTab('changePassword')" class="nav-item"><a href="#profile-about" class="nav-link" data-bs-toggle="tab">CHANGE PASSWORD</a></li>
            <!-- <li class="nav-item"><a href="#profile-post" class="nav-link" data-bs-toggle="tab">ACTIVITIES</a></li> -->
		</ul>
		<!-- END profile-header-tab -->
	</div>
</div>
<!-- END profile -->
<!-- BEGIN profile-content -->`
<div *ngIf="currentTab == 'about'" class="profile-content">
	<!-- BEGIN tab-content -->
	<div class="tab-content p-0">
		<div class="tab-pane fade show active" id="profile-about">
			<!-- BEGIN table -->
			<div class="table-responsive form-inline">
				<table class="table table-profile align-middle">
					<thead>
						<tr>
							<th></th>
							<th>
								<h4>{{userName}} <small class="text-first-letter-uppercase">{{userInfo['custom:role']}}</small></h4>
							</th>
						</tr>
					</thead>
					<tbody>
                        <tr class="highlight">
							<td class="field">Change photo</td>
							<td>
								<span class="profile-pic-name">{{userProfilePictureName}}</span>
								<span class="change-photo" *ngIf="userProfilePictureName">
									<a href="javascript:;" class="text-decoration-none fw-bold" (click)="selectProfilePicture()"><i class="fa fa-plus fa-fw"></i> Edit pic</a>
								</span>
								<span class="upload-photo" *ngIf="!userProfilePictureName">
									<a href="javascript:;" class="text-decoration-none fw-bold" (click)="selectProfilePicture()"><i class="fa fa-plus fa-fw"></i> Upload Your Pic</a>
								</span>
							</td>
						</tr>

						<!-- Code for Mood (may be used in future) -->
						<!-- <tr class="highlight">
							<td class="field">Mood</td>
							<td>
									<span *ngIf="showEmojiIcon">
											<span class="show-emoji-icon">{{showEmojiIcon}}</span>
											<span  class="edit-emoji-icon">
													<a  href="javascript:;" class="text-decoration-none fw-bold" (click)="selectMood()"><i class="fa fa-plus fa-fw"></i> Edit</a>
											</span>
									</span>
									
									<a #EditMoodContainer href="javascript:;" *ngIf="!showEmojiIcon" class="text-decoration-none fw-bold" (click)="selectMood()"><i class="fa fa-plus fa-fw"></i> Add Your Mood</a>
									<emoji-mart #emojiMart   class="emoji-style" size="16" *ngIf="showEmoji" title="Pick your emoji…" emoji="point_up" (emojiClick)="addEmoji($event)"></emoji-mart>
							</td>
						</tr> -->
						<tr class="divider">
							<td colspan="2"></td>
						</tr>
						<tr>
							<td class="field">Mobile</td>
							<td *ngIf="userMobileNo && !showMobileNumber"><i class="fa fa-mobile fa-lg me-5px"></i> {{userMobileNo}} <a href="javascript:;" class="ms-5px text-decoration-none fw-bold" (click)="addMobileNumber()"><i class="fa fa-plus fa-fw"></i> Edit</a></td>
							<td *ngIf="!userMobileNo && !showMobileNumber"><a href="javascript:;" class="text-decoration-none fw-bold" (click)="addMobileNumber()"><i class="fa fa-plus fa-fw"></i> Add Number</a></td>
							<td *ngIf="showMobileNumber">
								<div class="input-group input-group-width">
									<input type="number" placeholder="mobile number" class="form-control" [(ngModel)]="userMobileNo">
								</div>
							</td> 
						</tr>
						<tr>
							<td class="field">Home</td>
							<td *ngIf="userHomeNo && !showHomeNumber"><i class="fa fa-phone fa-lg me-5px"></i>{{userHomeNo}} <a href="javascript:;" class="ms-5px text-decoration-none fw-bold" (click)="addHomeNumber()"><i class="fa fa-plus fa-fw"></i> Edit</a></td>
							<td *ngIf="!userHomeNo && !showHomeNumber"><a href="javascript:;" class="text-decoration-none fw-bold" (click)="addHomeNumber()"><i class="fa fa-plus fa-fw"></i> Add Number</a></td>
							<td *ngIf="showHomeNumber">
								<div class="input-group input-group-width">
									<input type="number" placeholder="home number" class="form-control" [(ngModel)]="userHomeNo">
								</div>
							</td> 
						</tr>
						<tr>
							<td class="field">Office</td>
							<td *ngIf="userOfficeNo && !showOfficeNumber"><i class="fa fa-building fa-lg me-5px"></i> {{userOfficeNo}} <a href="javascript:;" class="ms-5px text-decoration-none fw-bold" (click)="addOfficeNumber()"><i class="fa fa-plus fa-fw"></i> Edit</a></td>
							<td *ngIf="!userOfficeNo && !showOfficeNumber"><a href="javascript:;" class="text-decoration-none fw-bold" (click)="addOfficeNumber()"><i class="fa fa-plus fa-fw"></i> Add Number</a></td>
							<td *ngIf="showOfficeNumber">
								<div class="input-group input-group-width">
									<input type="number" placeholder="office number" class="form-control" [(ngModel)]="userOfficeNo">
								</div>
							</td> 
						</tr>
						<tr class="divider">
							<td colspan="2"></td>
						</tr>

						<tr class="highlight">
							<td class="field">About Me</td>
							<!-- <td>
								<a href="javascript:;" class="text-decoration-none fw-bold"><i class="fa fa-plus fa-fw"></i> Add Description</a>
							</td> -->

							<td *ngIf="userAboutMe && !showAboutMe"> {{userAboutMe}} <a href="javascript:;" class="ms-5px text-decoration-none fw-bold" (click)="addAboutMe()"><i class="fa fa-plus fa-fw"></i> Edit</a></td>
							<td *ngIf="!userAboutMe && !showAboutMe"><a href="javascript:;" class="text-decoration-none fw-bold" (click)="addAboutMe()"><i class="fa fa-plus fa-fw"></i> Add Description</a></td>
							<td *ngIf="showAboutMe">
								<div class="input-group input-group-textarea-width">
									<textarea class="form-control" placeholder="Enter your bio" rows="6" (keyup)="onChangeUserBio($event.target.value)" [(ngModel)]="userAboutMe"></textarea>
								</div>
							</td> 
						</tr>


						<tr class="divider">
							<td colspan="2"></td>
						</tr>
						<tr>
							<td class="field">Country/Region</td>
							<td>
								<div #selectCountryElement class="form-control picker" (click)="showDropDownCountry()">
									<span class="pc-select">
										<span *ngIf="!userCountry" class="pc-element pc-trigger">Select country</span>
										<span *ngIf="userCountry" class="pc-element pc-trigger">
											<span class="country-flag">{{userCountryFlag}}</span>
											<span class="country-name">{{userCountry}}</span>
										</span>
										<span class="pc-list" *ngIf="showCountry">
											<div class="widget-input-box search-country">
												<input type="text" placeholder="Search your country" class="form-control search-icon" (keyup)="searchCountryName($event.target.value)" (click)="keepOpenDropDownCountry()">
											</div>
											<div class="country-list-width">
											<ul *ngFor="let country of listUserCountry; let i = index">
												<li data-order="{{index}}" (click)="chooseCountry(country)"><!-- <i class="{{category.iconType}}"></i> -->
													<span class="country-flag country-list-width">{{country.emoji}}</span> 
													<span class="dropdown-country-name">{{country.name}}</span>
												</li>
											</ul>
											</div>
										</span>
									</span>
								</div>
							</td>
						</tr>
						
						<tr>
							<td class="field">State</td>
							<td>
								<div #selectStateElement class="form-control picker" (click)="showDropDownState()">
									<span class="pc-select">
										<span *ngIf="!userState" class="pc-element pc-trigger">Select state</span>
										<span *ngIf="userState" class="pc-element pc-trigger"> {{userState}}</span>
										<span class="pc-list state-list-width" *ngIf="showState">
											<ul *ngFor="let state of listUserState; let i = index">
												<li data-order="{{index}}" (click)="chooseState(state)"> {{state.name}}</li>
											</ul>
										</span>
									</span>
								</div>
							</td>
						</tr>

						<tr>
							<td class="field">City</td>
							<td>
								<div class="input-group input-max-width">
									<input type="text" class="form-control" (keyup)="onChangeCityName($event.target.value)" value={{userCity}} placeholder="Enter your city" />
								</div>
							</td>
						</tr>
						
						<!-- <tr>
							<td class="field">Gender</td>
							<td>
								<select class="form-select w-200px" name="gender">
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
							</td>
						</tr> -->

						<tr>
							<td class="field">Birthdate</td>
							<td>
								<div class="d-flex align-items-center">

									<!-- <select class="form-select w-80px" name="day">
										<option value="04" selected>04</option>
									</select>
									<span class="mx-2">-</span>
									<select class="form-select w-80px" name="month">
										<option value="11" selected>11</option>
									</select>
									<span class="mx-2">-</span>
									<select class="form-select w-100px" name="year">
										<option value="1989" selected>1989</option>
									</select> -->
									<div class="input-group w-80px birthday">
										<input type="number" min="1" max="31" class="form-control" (change)="onChangeBirthday($event.target.value)" value={{userBirthdateDay}} />
									</div> 
                                    
									<span class="slash">/</span>
									
									<div class="input-group w-80px birthmonth">
										<input type="number" min="1" max="12" class="form-control" (change)="onChangeBirthMonth($event.target.value)" value={{userBirthdateMonth}} />
									</div>

									<span class="slash">/</span>

									<div class="input-group w-100px birthyear">
										<input type="number" min="1950" class="form-control" (change)="onChangeBirthYear($event.target.value)" value={{userBirthdateYear}} />
									</div>
								</div>
							</td>
						</tr>
						
						<tr class="divider">
							<td colspan="2"></td>
						</tr>
						<tr class="highlight">
							<td class="field">&nbsp;</td>
							<td class="">
								<button type="submit" class="btn btn-primary w-150px" (click)="confirmSubmit()">Update</button>
								<button type="submit" class="btn border-0 w-150px ms-5px" (click)="cancelUpdate()">Cancel</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- END table -->
		</div>
	</div>
</div>
<!-- END profile-content -->

<!-- Change password starts -->
<div *ngIf="currentTab == 'changePassword'" class="profile-content">
	<div class="login-body">
		<!-- BEGIN login-content -->
		<div class="login-content fs-13px">
			<div class="table-responsive form-inline">
				<table class="table table-profile align-middle">
					<thead>
						<tr>
							<th></th>
							<th>
								<h4>{{userName}} <small class="text-first-letter-uppercase">{{userInfo['custom:role']}}</small></h4>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="border-top align-content-center pt-3">
							<td class="field">New Password</td>
							<td>
								<div class="w-50">
									<div class="input-group">
										<input (keyup)="varifyNewAndConfirmPass('newPasswordValue' ,$event.target.value)" [type]="showPassword.newPassword ? 'text' : 'password'" class="form-control" id="newPassword" placeholder="New Password" />
										<span (click)="togglePasswordVisibility('newPassword')" class="input-group-text cursor-pointer">
											<i class="fa" [ngClass]="{ 'fa-eye': showPassword.newPassword, 'fa-eye-slash': !showPassword.newPassword }"></i>
										</span>
									</div>
								</div>
							</td>
						</tr>

						<tr class="align-content-center pb-3">
							<td class="field">Confirm Password</td>
							<td>
								<div class="w-50">
									<div class="input-group">
										<input (keyup)="varifyNewAndConfirmPass('confirmPasswordValue' ,$event.target.value)" class="form-control" [type]="showPassword.reenterPassword ? 'text' : 'password'" id="reenterPassword" placeholder="Re-enter Password" />
										<span (click)="togglePasswordVisibility('reenterPassword')" class="input-group-text cursor-pointer">
											<i class="fa" [ngClass]="{ 'fa-eye': showPassword.reenterPassword, 'fa-eye-slash': !showPassword.reenterPassword }"></i>
										</span>
									</div>
									<small *ngIf="PasswordMatchError"  class="input-group-error">
										Passwords do not match.
									</small>
									<small *ngIf="newPasswordLengthError" class="input-group-error">
										Passwords should be atleast 6 characters long
									</small>
								</div>
							</td>
						</tr>
						
						<tr class="highlight">
							<td class="field">&nbsp;</td>
							<td class="">
								<button (click)="changePasswordSubmit()" class="btn btn-primary w-150px">Change Password</button>
								<button type="submit" class="btn border-0 w-150px ms-5px" (click)="cancelUpdate()">Cancel</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END login-content -->
	</div>
</div>
<!-- Change password ends -->
