.inputs input {
  width: 40px;
  height: 40px;
  background-color:transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;
  color: white;
}

.company-title {
  margin-left: 2%;
}

.company-login-logo{
  margin-right: 8px;
}

small{
  margin-left: 5px;
}

input:focus {
  border-color: #008181 !important;
}

.inputs {
  border: none;
  display: flex;
}

.inputs input {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.btn-outline-light:hover{
  color: black !important;
}

#verify-otp-message {
  color: red;
  margin-top: 0.75rem;
}
