
<div class="login login-v2 fw-bold">
	<div class="login-cover">
		<div class="login-cover-img" [ngStyle]="{ 'background-image': 'url(' + this.bg + ')' }"></div>
		<div class="login-cover-bg"></div>
	</div>
	<div class="login-container">
    <div class="login-header px-2">
      <div class="brand">
				<div class="d-flex align-items-center">
					<img src="../../../assets/img/logo/apple-icon.png" alt="Analysts24x7" height="28" class="company-login-logo">
					<span class="company-title"><b>Analysts</b> 24X7</span>
				</div>
				<small class="login-font">We'll never share your credentials with anyone else.</small>
			</div>
		</div>
    
		<div class="login-content">
      <div class="container-fluid">
        <form [formGroup]="form">
          <div class="row">
            <!-- <div class="inputs d-flex flex-row justify-content-center col-3" *ngFor="let input of formInput;  index as i">
              <input #formRow type="text" formControlName="{{input}}" class="text-center" maxlength="1" (keyup)="keyUpEvent($event, i)">
            </div> -->

            <div class="inputs d-flex flex-row justify-content-center col-3" *ngFor="let input of formInput; index as i">
              <input #formRow type="text" formControlName="{{input}}" class="text-center" maxlength="1" (keyup)="keyUpEvent($event, i)" (paste)="pasteEvent($event, i)">
            </div>
          </div>

          <div class="form-floating">
            <div id="verify-otp-message">{{apiResponseMessage}}</div>
          </div>  
          
          <div class="my-20px row">
            <div class="col-7">
              <button type="submit" id="signup" class="btn btn-success d-block w-100 h-45px btn-lg" (click)="verifyNow()">
                <div id="block_container">
                  <div id="submitText">Verify OTP</div>
                </div>
              </button>
            </div>  
            
            <div class="col-5">
              <button id="" class="btn btn-outline-light d-block w-100 h-45px btn-lg" (click)="verifyLater()">
                <div id="block_container">
                  <div id="submitText">Verify later</div>
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
	</div>
</div>