.input-icons {
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.icon {
    position: absolute;
    bottom: 15px;
    margin-left: 4px;
}

.completed-reject > .nav-no {
    border-color: red !important;
    color: red !important;
}

.completed-reject > .nav-text {
    color: red;
}

.nav-link.completed-reject::after {
    background: red !important;
}

.nav-link.completed-reject::before {
    background: red !important;
}

.commit-details {
    padding-bottom: 20px;
    font-weight: bold;
    color: red;
}

.comment-block {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    white-space: pre-wrap; /* Maintains whitespace formatting */
    word-wrap: break-word; /* Ensures long lines do not break layout */
}